/* =============================
   8. POST CAROUSEL
================================ */
.carousel-wrap {
	padding: 40px 0 30px;
	margin-bottom: 50px;
	h5 {
		background: #2d2e30;
		height: 10px;
		margin: 0 0 25px;
		span {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			background: #1d1e20;
			padding-right: 14px;
			letter-spacing: 0.06em;
			position: relative;
			top: -2px;
		}
	}
	.layout_1--item {
		margin: 0 1px;
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		img {
			width: 100%;
		}
		.icon-24 {
			position: relative;
			bottom: 0;
			left: 0;
			margin-bottom: 6px;
		}
	}
	.slick-track {
		padding-bottom: 30px;
	}
}
.carousel-alt {
	h6 {
		background: #2d2e30;
		height: 10px;
		margin: 0 0 25px;
		span {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 14px;
			background: #1d1e20;
			padding-right: 14px;
			letter-spacing: 0.06em;
			position: relative;
			top: -2px;
		}
	}
}
.slick-dots {
	padding: 0;
	margin: -9px auto 0;
	display: table !important;
	li {
		float: left;
		list-style: none;
		margin: 0 7px;
		button {
			width: 8px;
			height: 8px;
			background: #464646;
			padding: 0;
			border: none;
			border-radius: 50%;
			font-size: 0px;
		}
	}
	li.slick-active {
		button {
			width: 8px;
			height: 8px;
			background: #ffffff;
			padding: 0;
			border: none;
			border-radius: 50%;
			font-size: 0px;
		}
	}
}
.video-container-white {
	.video-list {
		background: #f6f6f6;
		ul {
			li {
				border-bottom: 1px solid #e8e8e8;
				&:hover {
					background: #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
				}
			}
		}
		li {
			p {
				color: #1d1e20;
				span {
					color: #999999;
				}
			}
		}
		&:after {
			content: "";
			background-image: -webkit-linear-gradient( bottom, #f6f6f6, rgba(246, 246, 246, 0) );
			background-image: -moz-linear-gradient( bottom, #f6f6f6, rgba(246, 246, 246, 0) );
			background-image: -o-linear-gradient(bottom, #f6f6f6, rgba(246, 246, 246, 0));
			background-image: -ms-linear-gradient( bottom, #f6f6f6, rgba(246, 246, 246, 0) );
			background-image: linear-gradient(to top, #f6f6f6, rgba(246, 246, 246, 0));
		}
	}
}
.trending-text {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		margin: 0;
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-left: 32px;
		position: relative;
		p {
			span {
				font-size: 11px;
				color: #999999;
				display: block;
			}
		}
		em {
			font-size: 30px;
			color: #85ba41;
			font-style: normal;
			position: absolute;
			left: 0;
			top: -6px;
		}
	}
}
.side-newsletter2 {
	background: #f6f6f6;
	padding: 25px;
	form {
		position: relative;
		position: relative;
		height: 36px;
		i {
			color: #dddddd;
			position: absolute;
			top: 10.5px;
			left: 11px;
		}
		input {
			border: none;
			font-size: 15px;
			color: #aaaaaa;
			background: #fff;
			border: 1px solid #e8e8e8;
			height: 36px;
			padding: 0 55px 0 37px;
			width: 100%;
		}
	}
	p {
		color: #666666;
		font-size: 15px;
		line-height: 20px;
		margin: 0 0 14px;
	}
	button {
		background: #85ba41;
		border-radius: 0 3px 3px 0;
		font-size: 14px;
		line-height: 36px;
		padding: 0 12px;
		font-weight: bold;
		color: #fff;
		border: none;
		width: 40px;
		position: absolute;
		top: 0;
		right: 0;
	}
}
.side-share2 {
	.share {
		padding-top: 10px;
		margin-right: 7px;
		width: 105px;
		color: #fff !important;
		.counter {
			margin: 1px 0 2px;
			font-size: 20px;
		}
		i {
			background: transparent !important;
			font-size: 22px;
		}
		&:first-child {
			background: #305b9e;
		}
		&:nth-child(2) {
			background: #3aaef0;
		}
		&:last-child {
			background: #e94a33;
		}
	}
	.counter {
		color: #fff !important;
	}
	span {
		color: #fff !important;
	}
}
.side-share3 {
	.share {
		padding-top: 10px;
		margin-right: 1%;
		width: 24%;
		&:first-child {
			background: #305b9e;
		}
		&:nth-child(2) {
			background: #3aaef0;
		}
		&:nth-child(3) {
			background: #e94a33;
		}
		&:last-child {
			background: #d341b2;
		}
	}
}
.side-share5 {
	.share {
		margin-right: 1% !important;
		margin-bottom: 3px !important;
		width: 49% !important;
		&:first-child {
			background: #305b9e;
		}
		&:nth-child(2) {
			background: #3aaef0;
		}
		&:nth-child(3) {
			background: #d341b2;
		}
		&:nth-child(4) {
			background: #e65441;
		}
		&:nth-child(5) {
			background: #de4443;
		}
		&:last-child {
			background: #f8ac32;
		}
	}
}
.categories {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px dotted #e4e4e4;
		line-height: 11px;
		padding-bottom: 12px;
		margin-bottom: 12px;
		font-size: 15px;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		span {
			float: right;
			color: #999999;
			font-size: 14px;
		}
	}
}
ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border: 1px solid #e8e8e8;
	display: table;
	width: 100%;
	background: #fff;
	li {
		background: none;
		color: #1d1e20;
		float: left;
		width: 33.33333%;
		cursor: pointer;
		font-size: 10px;
		line-height: 41px;
		text-transform: uppercase;
		border-right: 1px solid #e8e8e8;
		text-align: center;
		background: #fff;
		font-weight: 500;
		letter-spacing: 0.12em;
		&:last-child {
			border-right: none !important;
		}
	}
	li.current {
		border: 1px solid #e8e8e8;
		background: #f8f8f8;
		color: #666666;
	}
}
.tab-content {
	display: none;
	padding-top: 30px;
}
.tab-content.current {
	display: inherit;
}
.ratings {
	img {
		position: relative;
		top: -2px;
	}
}
