/* =============================
   17. SHOP CART
================================ */
.cart-table {
	border: 1px solid #e8e8e8;
	background: #fff;
	margin-bottom: 30px;
	thead {
		border: none;
		background: #f8f8f8;
		color: #1d1e20;
		font-size: 15px;
		tr {
			th {
				padding: 0 25px;
				height: 40px;
				font-weight: 400;
				vertical-align: middle;
				border: none;
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #e8e8e8;
			td {
				padding: 20px 25px;
				vertical-align: middle;
				border: none;
				font-size: 16px;
			}
		}
	}
	.amount {
		font-size: 16px;
		color: #666666;
	}
	.total {
		font-size: 16px;
		color: #666666;
	}
	i {
		color: #cccccc;
		cursor: pointer;
		float: right;
		&:hover {
			color: #ed4848;
		}
	}
	+ {
		.btn-primary {
			height: 46px;
			line-height: 46px;
			padding: 0 20px;
			font-size: 16px;
		}
	}
}
.cart_totals {
	.table {
		tbody {
			tr {
				border: 1px solid #e8e8e8;
				th {
					border: 1px solid #e8e8e8;
					height: 60px;
					vertical-align: middle;
					padding: 0 25px;
					background: #f8f8f8;
					color: #1d1e20;
					font-size: 15px;
					font-weight: 400;
				}
				td {
					border: 1px solid #e8e8e8;
					height: 60px;
					vertical-align: middle;
					padding: 0 25px;
					color: #666666;
					font-size: 16px;
					background: #fff;
				}
			}
		}
	}
}
.dropdown-v2 {
	position: relative !important;
}
.dual-posts {
	.layout_3--item {
		.cat {
			margin-top: -3px;
		}
	}
}
.layout_3--item.full {
	.cat {
		margin-top: 12px;
	}
}
.layout_3--item {
	.thumb {
		overflow: hidden;
		img {
			width: 100%;
			transform: scale(1);
			transition: 0.4s;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.1);
				transition: 0.4s;
				-webkit-transition: 0.4s;
				-moz-transition: 0.4s;
			}
		}
	}
}
.side-widget {
	.trending {
		li {
			.ratings {
				img {
					max-width: 14px;
				}
			}
		}
	}
}
.home-subscribe {
	h6 {
		font-weight: bold;
		color: #666666;
		font-size: 14px;
		line-height: 18px;
	}
}
.side-instagram {
	li {
		list-style: none;
		margin: 0;
		float: left;
		width: 32%;
		height: auto;
		margin: 0 1% 1% 0;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.layout_2--item.no-margin {
	margin: 0 !important;
	h4 {
		a {
			color: #fff;
			&:hover {
				color: #85ba41;
			}
		}
	}
}
.video2 {
	span {
		color: #fff;
		font-size: 11px;
		position: relative;
		left: 33px;
		top: 3px;
	}
}
.trending-comment {
	li {
		position: relative;
		padding-left: 66px;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.home4-masonry {
	.icon-24 {
		position: relative;
		left: 0;
		margin: 0 0 -12px;
	}
	.layout-detail {
		h5 {
			font-size: 20px;
			line-height: 24px;
			color: #fff;
			margin: 9px 0 1px;
			font-weight: 400;
		}
	}
}
.icon-24.default {
	position: relative;
	left: 0;
	margin: 0 0 -12px;
}
.home4-masonry2 {
	.icon-24 {
		position: relative;
		left: 0;
		margin: 0 0 -12px;
	}
}
.dual-item2 {
	h4 {
		margin-top: -2px;
	}
	.cat {
		margin: -4px 0 5px;
	}
}
.next4 {
	background: transparent !important;
}
.prev4 {
	background: transparent !important;
}
.post-carousel3 {
	.layout-detail {
		position: absolute;
		bottom: auto;
		width: 100%;
		left: 0;
		z-index: 11;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		padding: 0 60px !important;
	}
	.badge-overlay {
		position: relative;
		top: 0;
		left: 0;
		z-index: 11;
		margin: 0 auto;
	}
	.slick-dots {
		padding: 0;
		margin: 11px auto 20px;
		display: table !important;
		li {
			button {
				background: #d3d3d3;
			}
		}
		li.slick-active {
			button {
				background: #7a7a7a;
			}
		}
	}
}
.side-share4 {
	.share {
		padding-top: 0px;
		margin-right: 0;
		width: 100%;
		margin-bottom: 5px;
		height: 36px;
		i {
			background: #000;
			color: #fff;
			width: 36px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			border-radius: 0;
			font-size: 16px;
			background: transparent !important;
			float: left;
		}
		.counter {
			color: #fff;
			font-size: 16px;
			margin: 7px 0 0;
			float: left;
			font-weight: bold;
			padding-left: 3px;
		}
		span {
			display: block;
			font-size: 12px;
			color: #fff;
			float: left;
			padding-left: 10px;
			line-height: 36px;
		}
		a {
			display: block;
			font-size: 12px;
			color: #fff;
			float: right;
			padding-right: 15px;
			line-height: 36px;
		}
	}
}
.trending-text2 {
	li {
		padding-left: 25px;
		em {
			font-size: 18px;
			color: #85ba41;
			font-style: normal;
			position: absolute;
			left: 0;
			top: -1px;
			font-weight: 500;
		}
	}
}
.col-md-5col {
	width: 20%;
	float: left;
}
.trending {
	a.pull-left {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		img {
			transform: scale(1);
			transition: 0.4s;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
		}
	}
	li {
		min-height: 87px;
		.thumb {
			overflow: hidden;
			img {
				transform: scale(1);
				transition: 0.4s;
				-webkit-transition: 0.4s;
				-moz-transition: 0.4s;
			}
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1.1);
					transition: 0.4s;
					-webkit-transition: 0.4s;
					-moz-transition: 0.4s;
				}
			}
			a.pull-left {
				img {
					transform: scale(1.1);
					transition: 0.4s;
					-webkit-transition: 0.4s;
					-moz-transition: 0.4s;
				}
			}
		}
	}
	.video-play2 {
		width: 32px;
		height: 32px;
		background-size: cover;
	}
}
.trending-box {
	background: #f6f6f6;
	padding: 25px;
	text-align: center;
	.number {
		width: 30px;
		height: 30px;
		color: #fff;
		background: #85ba41;
		line-height: 30px;
		border-radius: 50%;
		margin: 0 auto;
	}
}
.trending-comment2 {
	li {
		padding-left: 0px;
		b {
			font-size: 11px;
			color: #85ba41;
			text-transform: uppercase;
			font-weight: 400;
		}
		em {
			color: #999999;
			font-size: 11px;
			font-style: italic;
			position: relative;
			top: 0;
		}
	}
}
.trending-rating {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
		margin: 0;
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 10px;
		margin-bottom: 10px;
		padding-right: 50px;
		position: relative;
		&:last-child {
			padding-bottom: 0px;
			margin-bottom: 0;
			border: none;
		}
		p {
			span {
				font-size: 11px;
				color: #999999;
				margin-left: 12px;
			}
		}
		em {
			font-size: 14px;
			color: #181818;
			font-style: normal;
			position: absolute;
			right: 0;
			top: 0px;
			width: 44px;
			height: 44px;
			border: 2px solid #87bb45;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
		}
	}
}
.no-padding-left {
	padding-left: 0px;
}
.no-padding-right {
	padding-right: 0px;
}
.post-carousel-wrap3 {
	.layout-detail {
		h4 {
			font-size: 44px;
			line-height: 48px;
			color: #fff;
			margin: 9px 0;
			padding: 0 15%;
		}
	}
	.slick-dots {
		display: none !important;
	}
	.prev {
		width: 40px;
		height: 40px;
		background: url(../images/prev.png) no-repeat;
		display: table;
		line-height: 36px;
		font-size: 26px;
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 30px;
		margin-top: -20px;
		padding-right: 0;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 50%;
	}
	.next {
		width: 40px;
		height: 40px;
		background: url(../images/next.png) no-repeat;
		display: table;
		line-height: 36px;
		font-size: 26px;
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -20px;
		padding-left: 0;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 50%;
	}
}
.layout_2--item {
	.thumb {
		overflow: hidden;
		img {
			transform: scale(1);
			transition: 0.4s;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.1);
				transition: 0.4s;
				-webkit-transition: 0.4s;
				-moz-transition: 0.4s;
			}
		}
	}
}
.navbar-nav {
	.open {
		.dropdown-menu {
			.dropdown-header {
				padding: 0px 14px;
				line-height: 37px;
			}
			>li {
				>a {
					padding: 0px 14px;
					line-height: 37px;
				}
			}
		}
	}
}
.statusMessage {
	display: none;
	margin: auto;
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	border: 1px solid #e1e1e1;
	margin: 0 auto 25px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	i {
		color: #3498db;
		font-size: 15px;
		margin-right: 5px;
	}
	p {
		margin: 0;
		padding: 20px;
		color: #555;
		font-size: 14px;
	}
}
.successmessage {
	display: none;
	margin: auto;
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	border: 1px solid #e1e1e1;
	margin: 0 auto 25px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	p {
		margin: 0;
		padding: 20px;
		color: #555;
		font-size: 14px;
	}
	i {
		color: #1abc9c;
		font-size: 15px;
		margin-right: 5px;
	}
}
.errormessage {
	display: none;
	margin: auto;
	width: 100%;
	height: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	border: 1px solid #e1e1e1;
	margin: 0 auto 25px auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	p {
		margin: 0;
		padding: 20px;
		color: #555;
		font-size: 14px;
	}
	i {
		color: #ff0000;
		font-size: 15px;
		margin-right: 5px;
	}
}
#incompleteMessage {
	i {
		color: #f1c40f;
		font-size: 15px;
		margin-right: 5px;
	}
}
.ketchup-error {
	display: none !important;
}
#result {
	color: #f00 !important;
}
.post-carousel5 {
	img {
		width: 100%;
	}
}
.mc2-title {
	background: #f6f6f6;
	width: 20%;
	float: left;
	margin: -10px 10px -10px -10px;
	height: 285px;
	padding: 17px;
	+ {
		.menu-carousel-wrap {
			position: relative;
			width: 80%;
			float: right;
		}
	}
}
.header1.header-megamenu {
	.navbar-nav {
		>li.megamenu {
			>.dropdown-menu {
				.mc2-title {
					a {
						font-size: 15px;
						color: #5f6165;
						display: table;
						width: 100%;
						margin-bottom: 0;
						line-height: 35px;
					}
				}
			}
		}
	}
}
.topbar-white {
	.newsfeed {
		span {
			color: #1d1e20;
		}
	}
	.news-carousel {
		.item {
			a {
				color: #1d1e20;
				color: #1d1e20;
				&:hover {
					color: #85ba41;
					color: #85ba41;
				}
			}
		}
	}
	.account-options {
		a.login {
			background: url(../images/icon/user2.png) no-repeat center left;
		}
		a.subscribe {
			background: url(../images/icon/mail2.png) no-repeat center left;
		}
		a {
			color: #1d1e20;
			color: #1d1e20;
			&:hover {
				color: #85ba41;
				color: #85ba41;
			}
		}
		span {
			color: #dddddd;
		}
	}
}
.topbar-dark {
	#date_time {
		line-height: 36px;
		color: #fff;
	}
	#weather {
		line-height: 36px;
		color: #fff;
	}
}
.topbar-dark.topbar-white-w-search {
	.header-social {
		border-right: 1px solid #3f4041;
		a {
			color: #fff !important;
			border-left: 1px solid #3f4041;
		}
	}
}
.rmore2 {
	background: #85ba41;
	line-height: 32px;
	padding: 0 12px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	margin-top: 28px;
	&:hover {
		background: #333;
		color: #fff;
	}
}
.rmore3 {
	background: transparent;
	border: 1px solid #85ba41;
	line-height: 32px;
	padding: 0 12px;
	display: inline-block;
	color: #85ba41;
	font-size: 14px;
	border-radius: 3px;
	margin-top: 28px;
	&:hover {
		background: #85ba41;
		color: #fff;
	}
}
.header9 {
	#date_time {
		margin-top: 35px;
		display: inline-block;
	}
}
.header-menu-style10 {
	#date_time {
		line-height: 0px;
		padding: 0 15px 0 20px;
		position: relative;
		top: -14px;
	}
	#weather {
		line-height: 0px;
		padding: 0 15px 0 20px;
		position: relative;
		top: -14px;
	}
	.navbar-brand {
		display: inline-block;
		margin: 0 auto;
		float: none;
		padding-right: 25px !important;
		padding-left: 5px !important;
	}
}
.header1.header-menu-style10 {
	.navbar-nav {
		float: none;
		margin: 0 auto;
		display: table;
		>li {
			>a {
				line-height: 43px;
			}
		}
	}
}
.header1.header-menu-style11 {
	.navbar-header {
		padding: 15px 0;
	}
}
.header-style-11 {
	.topbar {
		overflow: visible;
	}
	.navbar-nav {
		>li {
			>a {
				line-height: 36px;
			}
		}
	}
}
.header-dark {
	background: #1d1e20;
}
.header1 {
	.header-dark {
		.navbar-nav {
			>li {
				>a {
					color: #fff;
					&:hover {
						color: #85ba41;
						background: transparent;
					}
				}
				&:hover {
					>a {
						color: #85ba41;
					}
				}
			}
		}
		.search-trigger {
			color: #fff;
			&:hover {
				color: #85ba41;
			}
		}
	}
}
.header-style-12 {
	padding-bottom: 30px;
	.navbar-header {
		border: none;
	}
}
.dropdown-parent {
	>a {
		position: relative;
	}
}
